h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 80;
}
.flashy {
  color: red;
  font-style: italic;
}

.best {
  color: green;
  font-weight: 100;
}

.us {
  font-weight: 600;
  color: purple;
  font-family: unset;
}

img {
  max-width: 20%;
}

body {
  background-color: lightskyblue;
  font-family: arial;
}

a:hover {
  color: blue;
}