h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 80;
}
.flashy {
  color: red;
  font-style: italic;
}

.best {
  color: green;
  font-weight: 100;
}

.us {
  font-weight: 600;
  color: purple;
  font-family: unset;
  width: 400px;
  margin-top: 200px;
}

.column {
  width: 275px;
  height: 200px;
  float: right;
  background-color: wheat;
}

.sidebar {
  width: 250px;
  float: left;
  background-color: yellow;
}

img {
  max-width: 20%;
  float: left;
}

body {
  background-color: lightskyblue;
  font-family: arial;
}

a:hover {
  color: blue;
}